.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-bottom: 10px;
}

.cat_image {
  width: 500px;
  max-width: 90%;
  border-radius: 16px;
}
