.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat_image {
  width: 500px;
  max-width: 90%;
  border-radius: 16px;
  margin: 20px;
}

.image_search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
